body{
    background-color: white;
    width: 720px;
    display: table;
    margin: auto;
    color: #595959;
}
section#intro{
    color: #595959;
    display: table;
    border-bottom: 2px solid #DC8417;
    padding: 4% 0;
    width: 100%;
}
section#intro h1{
	margin: 0;
    font-size: 1.5em;
}
section#intro h2{
    font-size: 15px;
    margin: 0px;
}
section#intro p{
    font-size: 15px;
    margin: 0px;
    text-align: justify;
}
#icons.vertical{
	padding: 0;
    width: 270px;
}
#icons.vertical a{
	display: table;
    margin-bottom: 10px;
}
#icons.vertical a:last-child{
	margin: 0;
}
#icons.vertical figure{
	width: 22px;
	height: 22px;
}
#icons.vertical figure, #icons.vertical label{
	display: table;
	float: left;
}
#icons.vertical i{
	font-size: 10px;
}
section#info div{
    background-color: #EFEFEF;
    padding: 10px 5%;
    margin-bottom: 10px;
    position: relative;
}
section#info h3{
	/* color: #DC8417; */
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    text-transform: uppercase;
}
section#info h4{
	margin: 15px 0;
    font-size: 20px;
}
section#info h4:nth-child(2){
	margin-top: 0;
}
section#info h4 + h4{
	margin-top: -15px;
    display: table;
    font-size: 12px;
}
section#info span{
    font-size: 12px;
    float: right;
}
section#info span i{    
    font-style: normal;
    font-size: 9px;
    line-height: 0;
    position: relative;
    top: -1px;
    margin-right: 3px;
}
section#info table{
	width: 100%;
}
section#info table tr td{
	border-bottom: 1pt solid rgba(0, 0, 0, 0.21);
    padding: 10px;
}
section#info ul li{
    margin-bottom: 10px;
}
section#info div#portfolio{
    display: table;
    width: 90%;
    background-color: #0B4556;
    border-top: 10px solid #DC8417;
}
section#info div#portfolio *{
    color: white;
}
section#info div#portfolio h3{
    border-bottom: 1px solid white;
}
section#info div#portfolio a{
    width: 18%;
    margin: auto;
    display: table;
    text-align: center;
}
section#info div#portfolio a img{
    width: 100%;
}
.row {
    display: flex;
}
.skills {
    width: 45%;
    margin-left: 10px;
}
.skills div > div {
    padding: 0 !important;
    margin: 0 -5px;
}
.skills label {
    text-decoration: underline;
    font-size: 13px;
    padding: 5px;    
}
.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills ul span {
    float: inherit !important;
}
.skills ul div {
    display: flex;
    flex-direction: column;
}
.no-decorator {
    list-style: none;
    padding-left: 0;
}